cronjob:
  schedule: "@daily"
  priorityClassName: ""
  ttlSecondsAfterFinished: 7776000

# If true, /cvmfs/grid.cern.ch/etc/grid-security/certificates/ will be mounted as a hostPath volume.
# If false, you will need to set up an alternative way of providing the ca-policy-* packages and CRLs in the ssmsend container.
gridSecurityHostPath: true

# If pspName is defined, this PSP will be used. If gridSecurityHostPath, use of a (read-only) /cvmfs hostPath is required.
# Other than that no special privileges are required so a default PSP should be sufficient.
pspName: ""

# "ssmsend" or "gratia"
output_format: ssmsend

processor:
  image_repository: "hub.opensciencegrid.org/osgpreview/kapel-processor"
  image_tag: "latest"
  image_pull_policy: "IfNotPresent"
  resources:
    # very generous estimate: approx 10 KiB memory per job record
    limits:
      cpu: "1"
      memory: "2000Mi"
    requests:
      cpu: "0.5"
      memory: "500Mi"
  # See KAPELConfig.py for full details on required configuration.
  # Along with SITE_NAME and SUBMIT_HOST, you will also need to define BENCHMARK_VALUE, NAMESPACE, and VO_NAME.
  config: |
    SITE_NAME: "EXAMPLE-T2"
    SUBMIT_HOST: "k8s.example.org:6443/namespace"
    #BENCHMARK_VALUE: "15.0"
    #NAMESPACE: "harvester"
    #VO_NAME: "atlas"
  # name of git branch to use
  deploy_branch: "prod"
  # Authentication secret for Prometheus, if any
  prometheus_auth:
    secret: null
    key: null


ssmsend:
  resources:
    limits:
      cpu: "0.5"
      memory: "500Mi"
    requests:
      cpu: "0.1"
      memory: "50Mi"
  # Whether to actually send data. Use false for testing.
  enabled: true
  # Location of ssmsend container. Feel free to instead build your own using the provided Containerfile.
  image_repository: "git.computecanada.ca:4567/rptaylor/misc/ssmsend"
  # Optionally overwrite container version. Default is chart appVersion.
  image_tag: ""
  host: "msg.argo.grnet.gr"
  # base64-encoded strings of the X509 public cert and private key for APEL publisher.
  # Using a base64 encoded string with no line breaks avoids issues of indentation and double YAML encoding if Ansible is used for Helm.
  x509cert: aW5zZXJ0IGJhc2U2NC1lbmNvZGVkIHN0cmluZyBvZiB0aGUgWDUwOSBwdWJsaWMgY2VydCBmb3IgQVBFTCBwdWJsaXNoZXIK
  x509key: aW5zZXJ0IGJhc2U2NC1lbmNvZGVkIHN0cmluZyBvZiB0aGUgWDUwOSBwcml2YXRlIGtleSBmb3IgQVBFTCBwdWJsaXNoZXIK

gratia:
  resources:
    limits:
      cpu: "0.5"
      memory: "500Mi"
    requests:
      cpu: "0.1"
      memory: "50Mi"
  # Location of gratia output container.
  image_repository: "hub.opensciencegrid.org/osgpreview/kapel-gratia-output"
  # Optionally overwrite container version. Default is chart appVersion.
  image_tag: "latest"
  config: |
    GRATIA_CONFIG_PATH: "/etc/gratia/kubernetes/ProbeConfig"
    GRATIA_REPORTER: "osgpilot_meter"
    GRATIA_SERVICE: "OSGPilotContainer"
    GRATIA_PROBE_MANAGER: "condor"
    GRATIA_PROBE_VERSION: "2.8.4-1.osg.el8.b2e780f"


nameOverride: ""
fullnameOverride: ""
